<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>About</title>
    {{> imports}}
  </head>
  <body>
    {{> header}}
    <div class="container-fluid">
      <div class="col-xs-12">
        <h1>About</h1>
        <p>This is a webserver using express made by me. <br> I am a programmer so that is why this page exists.</p>
        <p>I am not very concerned about the styles on this page so I used <a href="https://www.getbootstrap.com">Bootstrap</a> 4</p>
        <p>The current day is {{currentDay}}</p>
      </div>
    </div>
    {{> footer}}
  </body>
</html>
