<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Links</title>
    {{> imports}}
  </head>
  <body>
    {{> header}}
    <div class="container-fluid">
      <h1>{{pageTitle}}</h1>
      <hr>
      <p>Some useful inks you can go to</p>
      <ul class="list-group">
        <li class="list-group-item"><a href="https://www.wikipedia.org">Wikipedia (Wiki)</a></li>
        <li class="list-group-item"><a href="https://www.python.org">Python</a></li>
        <li class="list-group-item"><a href="https://www.coursera.org">Coursera</a></li>
        <li class="list-group-item"><a href="https://www.udemy.com">Udemy</a></li>
        <li class="list-group-item"><a href="https://www.nodejs.org">Node JS</a></li>
        <li class="list-group-item"><a href="/code">A built in code editor (HTML)</a></li>
        <li class="list-group-item"><a href="https://www.atom.io">Atom install</a></li>
        <li class="list-group-item"><a href="https://code.visualstudio.com/">VSCode install</a></li>
        <li class="list-group-item"><a href="https://www.jetbrains.com/">JetBrains (Lots of IDES)</a></li>
        <li class="list-group-item"><a href="https://getbootstrap.com/">Bootstrap</a></li>
        <li class="list-group-item"><a href="https://www.khanacademy.org/">Khan Academy</a></li>
        <li class="list-group-item"><a href="https://www.youtube.com/">YouTube <i class="fa fa-youtube"></i></a></li>
        <li class="list-group-item"><a href="/">Home</a></li>
      </ul>
      <hr>
      <p>A lot of these websites are paid subscriptions</p>
    </div>
    {{> footer}}
  </body>
</html>
