.country:hover {
    fill-opacity: 0.7;
}

body {
    font: 11px sans-serif;
}

body {
    background: #fcfcfa;
}

.stroke {
    fill: none;
    stroke: #000;
    stroke-width: 3px;
}

.fill {
    fill: #fff;
}

.graticule {
    fill: none;
    stroke: #777;
    stroke-width: .5px;
    stroke-opacity: .5;
}

.land {
    fill: #222;
}

.boundary {
    fill: none;
    stroke: #fff;
    stroke-width: .5px;
}

.tip {
    line-height: 1;
    font-weight: bold;
    padding: 12px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 2px;
    pointer-events: none;
    font: 11px sans-serif;

}

/* Creates a small triangle extender for the tooltip */
rect:hover{
    fill-opacity: 0.7;
}