table {
    background-color: #8e2de2;
    color: white;
    padding: 20px;
    border: 1px solid black;
    align-self: center;
    text-align: center;
}

body {
    background: linear-gradient(to right, #8e2de2, #4a00e0);
    color: white;
    text-align: center;
}

a {
    color: white;
}

h1 {
    text-align: center;
}

#buttons {
    height: 50px;
}

button {
    display: inline-block;
    margin-right: 1em;
    height: 36px;
    text-align: center;
    margin-bottom: 10px;
    padding: 5px 20px
}

button {
    color: #fff;
    border: 0;
    background: #9b7024;
    border-bottom: 1px solid #8d641d;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
    box-shadow: 0 2px 0 0 #8d641d;
    border-radius: 3px;
    margin: none;
}

button:hover {
    cursor: pointer;
    opacity: .9
}

button:active {
    transform: translate(0px, 1px);
    -webkit-transform: translate(0px, 1px);
    box-shadow: 0 0
}

button:focus,
select:focus {
    outline: 0 !important
}